.vertical-menu {
    width: 200px;

  }
  
  .vertical-menu a {
    background-color: #a8e7e3;
    color: rgb(174, 2, 45);
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: rgb(118, 9, 242);
  }
  
  .vertical-menu a.active {
    background-color: rgb(97, 215, 127);
    color: rgb(69, 65, 65);
    font-weight: bold;}

  .img {
      width: 50%;
    }