body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 99, 247, 0.756);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid #ddd;
}

ul.topnav li a:hover:not(.active) {
  background-color: #0dcea7;
}

ul.topnav li a.active {
  background-color: #3104fc;
}
ul.topnav li.right {
  float: right;
}

.aboutmeimage {
  width: 100%;
  float: center;
  width: 100%;
}

.aboutme {
  width: 100%;
  float: right;
  padding: 30px;
}
.whoami {
  width: 45%;
  height: 100%;
  float: right;
  padding: 30px;
  padding-top: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.meimage {
  height: 100%;
  width: 40%;
  float: left;
  padding-left: 0px;
  padding-top: 20px;
  border-radius: 60%;

}

.indextitle {
  padding: 60px 0;
  text-align: center;
  background: #0dcea7;
  color: white;
  font-size: 30px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.leftcolumnindex {
  padding: 2%;
  width: 45%;
  float: left;
  font-family: 'Courier New', Courier, monospace;
}
.rightcolumnindex {
  width: 45%;
  float: right;
  padding: 2%;
  font-family: 'Courier New', Courier, monospace;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(98, 147, 187);
  color: white;
  text-align: left;
}

button {
  background-color: rgba(0, 99, 247, 0.756);
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 30%;
}

input {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width:   70%;
}
input :hover {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(6, 104, 129);
  font-size: 18px;
}

.addBtn {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(84, 223, 142);
  font-size: 18px;
  transition: 0.2s;
  width: 50%;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Style the header */
.header {
  background-color: #59beec;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  width:   75%;
  color: rgb(252, 253, 251);
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
.list {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width:   50%;
}

.list:nth-child(odd) {
  background: #f9f9f9;
}

.list:hover {
  background: #ddd;
}

.list.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
